@model InternetteTescil.Entities.Entities.Order

@{
    ViewData["Title"] = "Delete";
}



<h3>Silmek ister misin?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orderdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orderdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sİl" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
